{% extends "base.html" %}

{% block content %}
{% if status == STATUS_ENUM.REGISTER_EMAIL_SENT %}
<p>Rejestracja przebiegła pomyślnie</p>
<p>{{ user_name }} Sprawdź e-mail</p>
<p>W razie problemów sprawdź SPAM</p> 
{% elif status == STATUS_ENUM.USER_EXIST %}
<p>Ten adres email jest już zarejestrowany</p>
{% elif status == STATUS_ENUM.INTERNAL_ERROR %}
<p>Wewnętrzy błąd strony, skontaktuj się z adminem</p>
{% elif status == STATUS_ENUM.EMAIL_CONFIRMED %}
<p>{{ user_name }}, Twój email został potwierdzony, czekaj na akceptację admina</p>
{% elif status == STATUS_ENUM.ADMIN_CONFIRMED %}
<p>Konto {{ user_name }} zostało potwierdzone</p>
{% endif %}
{% endblock %}
