{% extends "base.html" %}

{% block content %}
{% if status == STATUS_ENUM.REGISTER_EMAIL_SENT %}
<p>Rejestracja przebiegła pomyślnie</p>
<p>{{ user_name }} Sprawdź e-mail</p>
<p>W razie problemów sprawdź SPAM</p> 
{% elif status == STATUS_ENUM.USER_EXIST %}
<p>Ten adres email jest już zarejestrowany</p>
{% elif status == STATUS_ENUM.INTERNAL_ERROR %}
<p>Wewnętrzy błąd strony, skontaktuj się z adminem</p>
{% elif status == STATUS_ENUM.EMAIL_CONFIRMED %}
<p>{{ user_name }}, Twój email został potwierdzony, czekaj na akceptację admina</p>
{% elif status == STATUS_ENUM.ADMIN_CONFIRMED %}
<p>Konto {{ user_name }} zostało potwierdzone</p>
{% elif status == STATUS_ENUM.WRONG_FILE_EXT %}
<p>Nie mogę przesłać listu ponieważ użyto złego formatu pliku, akceptowane są tylko pliki: pdf, doc, docx, jpg, png, txt, jpeg, rtf, gif, svg</p>
{% elif status == STATUS_ENUM.WRONG_FILE_SIZE %}
<p>Nie mogę przesłać listu ponieważ przesłany plik jest za duży, akceptowane są pliki mniejsze niż 3MB</p>
{% elif status == STATUS_ENUM.FILE_SENT %}
<p>Plik został przesłany. Sprawdź email i kliknij link w celu potwierdzenia</p>
{% elif status == STATUS_ENUM.USER_NOT_EXIST %}
<p>Nie mogę przesłać listu ponieważ adres email nie został zarejestrowany lub potwierdzony</p>
{% elif status == STATUS_ENUM.NO_WISH_LIST %}
<p>Nie przesłano listu</p>
{% elif status == STATUS_ENUM.WISH_LIST %}
<p>List: <a href='{{ wishlist }}'>link</a> </p>
{% elif status == STATUS_ENUM.FILE_CONFIRMED %}
<p>List: <a href='{{ wishlist }}'>link</a> został potwierdzony </p>
{% endif %}
{% endblock %}
