{% extends "base.html" %}

{% block content %}
<p>W celu przesłania listu do Świętego, wypełnij poniższy formularz.
<p>List możesz przesłać w formie dokumentu tekstowego (pdf, doc, docx, rtf, txt itp.)
<p>lub w formie graficznej (jpg, gif, svg, png itp.).
<p>Pisanie listu nie jest obowiązkowe, ale może pomóc Mikołajowi w znalezieniu odpowiedniego prezentu.

<form action="/wishlist/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    <input type="submit" value="Submit">
</form>

{% endblock %}
